/* Position of the calculator */
.calculator-container {
  margin-top: 15px;
  width: inherit;
}

.calculator-input, .calculator-result {
  background-color: rgb(32, 31, 31);
  color: #ffffff;
}

.calculator-input {
  padding: 0px 10px;
  text-align: right;
  font-weight: bolder;
}

.calculator-result {
  margin-top: 12px;
  padding: 0px 10px;
  text-align: right;
  overflow: auto;
  resize: none; 
  height: 50vh; 
  font-size: 18px;
}
